services:
  db:
    image: postgres:18.1-alpine
    container_name: scrapp-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - scrapp_postgres_data:/var/lib/postgresql
    restart: unless-stopped

  backend:
    image: ghcr.io/stepanfedyanov/scrapp-backend:latest
    container_name: scrapp-backend
    build:
      context: ./backend
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    image: ghcr.io/stepanfedyanov/scrapp-frontend:latest
    container_name: scrapp-frontend
    build:
      context: ./frontend
      args:
        VITE_API_URL: /api
    ports:
      - "${FRONTEND_PORT:-80}:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  scrapp_postgres_data:
